body {
    background-color: rgb(224, 224, 224);
}

.bloc_page {
    position: relative;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
    width: 600px;
    height: 100%;
    left: 350px;
}

#logo img {
    position: relative;
    left: 190px;
    box-shadow: rgba(31, 139, 189, 0.801) 2px 2px 2px;
    padding: 2px;
    border: rgba(31, 139, 189, 0.801)solid 3px;
    border-radius: 10px;
}

#form {
    position: relative;
    left: 75px;
    padding: 20px;
    border: solid grey 2px;
    border-radius: 10px;
    text-shadow: rgb(54, 200, 211);
    height: auto;
    width: 400px;
    margin-bottom: 80px;
}

#form h3 {
    position: relative;
    left: 45px;
}

form {
    padding-left: 25px;
}

form input {
    outline: aqua;
    padding: 5px;
    border: rgba(22, 144, 192, 0.849) solid 2px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgba(22, 144, 192, 0.849);
    width: 250px;
    padding-left: 5px;
    font-weight: bolder;
    font-style: italic;
}

form #Image {
    padding: 5px;
    border: solid black 2px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgba(22, 144, 192, 0.849);
    width: 270px;
    height: 150px;
}

form select {
    outline: aqua;
    padding: 5px;
    border: aquamarine solid 1px;
    border-radius: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    font-style: italic;
    font-weight: bolder;
    box-shadow: 2px 2px 2px aqua;
}

form textarea {
    outline: aqua;
    padding: 5px;
    border: rgba(22, 144, 192, 0.849) solid 2px;
    box-shadow: 2px 2px 2px rgba(22, 144, 192, 0.849);
    border-radius: 5px;
    box-shadow: blue;
    width: 250px;
    padding-left: 5px;
    height: 30px;
    font-weight: bolder;
    font-style: italic;
}

form label {
    font-size: 17px;
    font-weight: bolder;
}

form #Prix {
    width: 70px;
}

form #submit {
    position: relative;
    left: 50px;
    margin-top: 25px;
    font-size: 17px;
    font-weight: bolder;
    font-style: italic;
    background-color: rgba(22, 144, 192, 0.849);
}

footer {
    display: flex;
    position: relative;
    background: url('../images/ico_top.png') no-repeat top center, url('../images/ombre1.jpg') repeat-x top;
    padding-top: 25px;
    width: 600px;
    left: 0px;
}

#piedPage ul {
    list-style-type: none;
    display: flex;
    margin-right: 3px;
}

#piedPage a {
    text-decoration: none;
    color: black;
}

#piedPage li {
    margin-left: 40px;
    font-size: 15px;
    color: black;
}