body {
    background-color: rgb(224, 224, 224);
}

#bloc_page {
    position: relative;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
    width: 600px;
    height: 100%;
    left: 350px;
}

p img {
    position: relative;
    left: 190px;
    box-shadow: rgba(31, 139, 189, 0.801) 2px 2px 2px;
    padding: 2px;
    border: rgba(31, 139, 189, 0.801) solid 3px;
    border-radius: 10px;
}

.form h3 {
    position: relative;
    left: 30px;
}

.form p {
    position: relative;
    left: 100px;
}

.form a {
    color: rgba(22, 144, 192, 0.849);
}

form strong {
    padding: 3px;
    text-shadow: aqua 3px;
}

form {
    position: relative;
    left: 120px;
    padding: 5px;
    border: solid grey 2px;
    border-radius: 10px;
    text-shadow: rgb(54, 200, 211);
    height: 450px;
    width: 300px;
    padding-left: 35px;
    margin-bottom: 35px;
    font-style: italic;
}

form label {
    font-size: 17px;
    font-weight: bolder;
}

form input {
    outline: aqua;
    padding: 5px;
    border: rgba(22, 144, 192, 0.849) solid 2px;
    border-radius: 5px;
    box-shadow: blue;
    width: 200px;
    padding-left: 5px;
}

@media all and (max-width: 1024px) {
    body {
        width: auto;
    }
}

#submit {
    position: relative;
    left: 50px;
    width: 150px;
    height: 50px;
    font-size: 15px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bolder;
    background-color: rgba(31, 139, 189, 0.801);
}

footer {
    display: flex;
    position: relative;
    background: url('../images/ico_top.png') no-repeat top center, url('../images/ombre1.jpg') repeat-x top;
    padding-top: 25px;
    width: 500px;
    left: 45px;
}

#piedPage ul {
    list-style-type: none;
    display: flex;
    margin-right: 3px;
}

#piedPage a {
    text-decoration: none;
    color: black;
}

#piedPage li {
    margin-left: 40px;
    font-size: 15px;
    color: black;
}